{% extends 'base.html' %}
{% block content %}
{% include 'includes/messages.html' %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Faculty</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">View </a></li>
                <li class="breadcrumb-item active"> Edit Faculty</li>
             </ul>
          </div>
          
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="">
             <div class="">
                <div class="table-responsive">
                   <table class="table table-striped table-hover table-bordered table-sm">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            
                            <th>Gender</th>
                            <th>Address</th>
                            
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th class="text-center">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in faculty %}
                         <tr>
                            <td>FAC000{{i.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="" class=""><img class="avatar-img rounded-circle" width="25" height="25" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                  <a href="student-details.html">&nbsp;{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a>
                               </h2>
                            </td>
                            <td>{{i.admin.email}}</td>
                            
                            <td>{{i.gender}}</td>
                            <td>{{i.address}}</td>
                            
                            <td>{{i.created_at}}</td>
                            <td>{{i.updated_at}}</td>

                            <td class="text-center">
                               <div class="actions">
                                  <a href="{% url 'editfaculty' i.id %}" class="btngreeny">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <a href="{% url 'deletefaculty' i.admin.id %}" class="btnredyy">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>
{% endblock  %}